<!DOCTYPE html>
<html xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xml:lang="en"
      lang="en">
<body>
<ui:composition>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a href="#" class="brand-logo">Logo</a>
            <ul class="right">
                <li>
                    <h:form>
                        <h:commandButton value="Become Member" action="/pages/signup.xhtml"/>
                    </h:form>
                </li>
                <li>
                    <h:form>
                        <h:inputText id="loginfield" value="" required="true">
                        </h:inputText>
                        <h:inputSecret id="pwdfield" value="" required="true">
                        </h:inputSecret>
                        <h:commandButton value="Go" action="/pages/index.xhtml"/>
                    </h:form>
                </li>
            </ul>
        </div>
    </nav>
</ui:composition>
</body>
</html>