
.header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.header__loginForm {
    display: flex;
    background-color: yellow;
}

.header__login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: orange;
}